
header, footer {
  background-color: #000;
  color: #FFF;
}

header {
  min-height: 200px;
	background-image: url("pexels-photo-270360.jpeg");
	background-size: cover;
	background-position: center;
}

.top-pic img{
	width: 1000px;
	height: 400px;
}
